

.body {
    height: 5000px;
    margin:0;
    background-color:#edeade;
}



.titulo{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

.titulo h1{

    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
    color: #adeada;

}

.titulo h2{
    
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight:lighter ;
    font-style: normal;

}

.titulo h3 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight:lighter ;
    font-style: normal;

}

a {
    transition: transform .2s;
    text-decoration: none;
}

a:hover {
    
    color: #000000;
    font-weight: 400;
}

.nav {
    
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight:lighter ;
    color: #000000;
}

.galeria{
    
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 50px;
    margin-bottom: 200px;
    height: auto;
    animation: slide 20s infinite alternate ease-in-out;
}

.galeria img{
    opacity: 1;
    border: 0px solid black; /* Añade un borde de 2px de ancho y color negro */
    transition: transform .2s;   
    max-width: 400px;
    margin: 1rem;
    
    
}

.galeria img:hover {
    transform: scale(2);
    border-width: 1px; 
    
}


.footer-c {
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:lighter ;
    font-style: normal;
    font-size: 15px;
    background-color: #cdeadc;
}

.footer-i {
    
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:lighter ;
    font-style: normal;
    font-size: 15px;
    background-color: #cdeadc;
}

.copy {
    padding-top: 15px;
}

.dev {
    padding-bottom: 15px;
}

/*
  CONTACTO 
*/

.contacto {
    text-align: center;
    margin-bottom: 200px;
    margin-top: 50px;
}

.links {
    
    padding-top: 2%;
    
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight:lighter ;
    color: #000000;
    width: auto;
}

.icon {
    
    width: 40px;
    padding-right: 40px;
}

.link {
    width: 300px;
    padding-left: 10px;
    position: relative;
    bottom: 14px;
    
}

/*
    DETALLES
*/

.detalles {
    position: relative;
    top: 100px;
    text-align: center;
    padding-top: 80px;
}

.detalles img {
    border-radius: 50%;
    margin-right: 20px;
}

.detalles b {
    position: relative;
    bottom: 100px;
    margin-left: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight:lighter ;
    font-style: normal;
}